@import "~bootstrap/scss/bootstrap";


html {
  font-size: 16px;
}

h1 {
  font-size: 2.5rem;
}

.red-box{
    background-color: red;
    width: 100px;
    height: 100px; 
  }
  
  .blue-box{
    background-color: blue;
    width: 100px;
    height: 100px; 
  }
  
  .container{
    display: flex;
  }
  

  .Carousel{
    height: 600px;
    width: 600px;
  }

  .Card {
display: flex; 
align-items: center;
flex-direction: column;
background-color: grey;
width: 15vw;
height: 30vh;
overflow: hidden;
  }

  .imageContainer{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .image{
    height: 80%;
    width: 95%;
  }